<!DOCTYPE html>

<html>

<head>

<title>Magos da Furadeira</title>

</head>

<body>

<div style="display: flex; align-items: center;">

<img src="https://i.ibb.co/z490FF5/FUNDO-REMOVIDO.png" alt="FUNDO REMOVIDO">

<p style="margin-left: 40px; font-size: 24px; font-weight: bold; border-bottom: 1px solid black;">José David e Gabriel Torquarto - <br> Magos da Furadeira Bosch de Impacto </p>

</div>

</body>

</html>

### Não perca a classe!
**ID:** Modelos 01

**Proponente:** Cavaleiro Luminoso (dono da Taverna do Sol. A Taverna do Sol só abre enquanto o sol está no céu e apenas em dias que não estejam nublados. Antes de tomar qualquer bebida, é necessário levantar os braços lentamente (desta forma: \o/) em direção ao sol; se não fizer isso você é banido da Taverna para sempre)

**Objetivo:** Um algoritmo regressor k-NN foi implementado na sala de aula (ou será implementado, dependendo de quando você ler esta mensagem). Sua tarefa é criar um classificador k-NN. Teste seu classificador para prever a espécie de pinguim do dataset de pinguins.

**Comentários adicionais:** Observe que a tarefa é criar um classificador, não é usar um pronto. É possível resolver este problema sem a necessidade de conversão simbólico-numérica do target! Neste caso, ao invés de tirar a média dos valores para computar a previsão, você deverá ver qual é o rótulo mais frequente. Em caso de empate, crie uma regra simples para desempatar (algo como "sempre escolher o primeiro ordenado alfabeticamente"). Ler o material referenciado no notebook em caso de dúvida.

**Pontuação máxima:** 10 pontos.

A princípio, as bibliotecas Seaborn, Numpy e Statistics são importadas para, respectivamente, importar o dataset, realizar cálculos

In [206]:
import seaborn as sbn
import numpy as np
import statistics as st

In [207]:
df = sbn.load_dataset('penguins')
display(df)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [208]:
atributos = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm','body_mass_g']
target = ['species']

df = df.reindex(atributos + target, axis=1)
df = df.dropna()

X = df.reindex(atributos, axis=1)
y = df.reindex(target, axis=1)

X = X.values
y = y.values.ravel()

In [209]:

def treino_knn(modelo, x, y):
  
    modelo["x"] = x
    modelo["y"] = y
    

def calcular_distancias(a, b):
    
    diferenca = a - b
    diff_quadrado = diferenca**2
    soma = np.sum(diff_quadrado, axis=1)
    dist = soma ** (1/2)
    
    return dist
    
    
def previsao_knn(modelo, x):

    distancias = calcular_distancias(modelo["x"], x)
    indices_ordenados = np.argsort(distancias)
    k_primeiros_indices = indices_ordenados[:modelo["num_vizinhos"]]
    targets_vizinhos = modelo["y"][k_primeiros_indices]
    previsao = st.mode(targets_vizinhos)
    return previsao

In [210]:
modelo = {"num_vizinhos": 3}
treino_knn(modelo, X, y)

In [211]:
print(previsao_knn(modelo,[40,20,180,4000]))
print(previsao_knn(modelo,[40,20,180,5000]))
print(previsao_knn(modelo,[30,17,170,3300]))
print(previsao_knn(modelo,[50.2,18.2,190,3500]))

Adelie
Gentoo
Adelie
Chinstrap