<!DOCTYPE html>

<html>

<head>

<title>Magos da Furadeira</title>

</head>

<body>

<div style="display: flex; align-items: center;">

<img src="https://i.ibb.co/z490FF5/FUNDO-REMOVIDO.png" alt="FUNDO REMOVIDO">

<p style="margin-left: 40px; font-size: 24px; font-weight: bold; border-bottom: 1px solid black;">José David e Gabriel Torquarto - <br> Magos da Furadeira Bosch de Impacto </p>

</div>

</body>

</html>

### Não perca a classe!
**ID:** Modelos 01

**Proponente:** Cavaleiro Luminoso (dono da Taverna do Sol. A Taverna do Sol só abre enquanto o sol está no céu e apenas em dias que não estejam nublados. Antes de tomar qualquer bebida, é necessário levantar os braços lentamente (desta forma: \o/) em direção ao sol; se não fizer isso você é banido da Taverna para sempre)

**Objetivo:** Um algoritmo regressor k-NN foi implementado na sala de aula (ou será implementado, dependendo de quando você ler esta mensagem). Sua tarefa é criar um classificador k-NN. Teste seu classificador para prever a espécie de pinguim do dataset de pinguins.

**Comentários adicionais:** Observe que a tarefa é criar um classificador, não é usar um pronto. É possível resolver este problema sem a necessidade de conversão simbólico-numérica do target! Neste caso, ao invés de tirar a média dos valores para computar a previsão, você deverá ver qual é o rótulo mais frequente. Em caso de empate, crie uma regra simples para desempatar (algo como "sempre escolher o primeiro ordenado alfabeticamente"). Ler o material referenciado no notebook em caso de dúvida.

**Pontuação máxima:** 10 pontos.

A princípio, as bibliotecas Seaborn, Numpy e Statistics são importadas para, respectivamente, importar o dataset, realizar cálculos necessários nas funções do modelo k-NN e realizar o cálculo de moda.

In [2]:
import seaborn as sbn
import numpy as np
import statistics as st

Definimos o dataframe df como sendo o corregamento do dataset de pinguins da biblioteca Seaborn e fazemos uso da função display para conferirmos os títulos dos atributos que usaremos.

In [3]:
df = sbn.load_dataset('penguins')
display(df)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

Definimos os atributos como sendo os tamanhos de bico e nadadeira, a profundidade do bico e a massa corporal do pinguim, e a o target como sendo as espécies. Após isso, o dataframe foi reindexado apenas com as colunas de atributos e targets, e a função dropna foi utilizada para excluir as linhas que possuiam o float NaN em alguma de suas células. Em seguida, duas reindexações são feitas, uma para criar o dataframe x(atributos) e outra para criar o dataframe y(target). Por fim, x e y são definidades como sendo a aplicação da função values nelas mesmas para que haja a conversão de dataframe para array numpy.<sup>[1][2][3]</sup>

In [4]:
atributos = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm','body_mass_g']
target = ['species']

df = df.reindex(atributos + target, axis=1)
df = df.dropna()

X = df.reindex(atributos, axis=1)
y = df.reindex(target, axis=1)

X = X.values
y = y.values.ravel()

Toda estrutura das funções é baseada nas funções discutidas e elaboradas durante a aula 3.1 e no estudo do material das referências 4 e 5.<sup>[3][4][5]</sup><br><br>
A célula abaixo armaneza o modelo, os atributos e o target em um dicionário.

In [5]:
def treino_knn(modelo, x, y):
  
    modelo["x"] = x
    modelo["y"] = y

<p align = 'justify'> A função criada para realizar a previsão recebe dois argumentos: um modelo, o qual se resume a um dicionário com o número de vizinhos próximos que devem ser buscados, e um x, que seria um lista com os atributos do pinguim que buscamos saber a espécie. A princípio, alguns cálculos são executados para descobrir as distâncias entre a instância de teste e os vizinhos. Nesse cálculo, os valores da instância de teste são subtraídos dos valores dos atributos, em seguida essa diferença é colocada ao quadrado e somadas por meio da função sum do numpy.<br> Com o cálculos já feitos, a função argsort realiza o ordenamento em ordem crescente e os vizinhos mais próximos são escolhidos como sendo os primeiros "k" vizinhos, o k é decidido na biblioteca de modelo, na chave "numero_de_vizinhos". Os targets referentes a esses vizinhos são escolhidos e para que haja a decisão, a função mode da biblioteca statistics calcula a moda. Para o caso de empate, o critério de desempate considerado é o da função mode, o qual consiste em priorizar o primeiro que mais se repete. Então em um caso como mode(['Gentoo','Gentoo','Adelie','Adelie','Chinstrap']), o priorizado será o gentoo. <br>Não encontramos uma descrição direta desse critério na documentação da bibliteca Statistics, o deduzimos empiricamente por testes. Os testes podem ser acessados na referência 6, que leva para nosso repositório no GitHub.</p>

In [6]:
def previsao_knn(modelo, x):

    diferenca = modelo["x"] - x
    dife_quadrado = diferenca**2
    somatoria = np.sum(dife_quadrado, axis=1)
    distancias = somatoria ** (1/2)
    ordenamento = np.argsort(distancias)
    vizinhos_mais_proximos = ordenamento[:modelo["numero_de_vizinhos"]]
    targets_vizinhos = modelo["y"][vizinhos_mais_proximos]
    previsao = st.mode(targets_vizinhos)
    return previsao

Para os testes, consideramos 4 vizinhos para tirar a moda.

In [7]:
modelo = {"numero_de_vizinhos": 4}
treino_knn(modelo, X, y)

Para testar o funcionamento da função de previsão, realizamos a exibição dos resultados da função de previsão knn com diferentes argumentos que escolhemos com base nos padrões notados durante o desenvolvimento da tarefa Dados 1.<sup>[1]</sup> Um dos padrões notados, por exemplo, é o fato da espécie gentoo possuir maior massa corporal. Assim, nós evitamos o uso de um random para escolher os argumentos a serem testados na função preditiva.

In [8]:
print(previsao_knn(modelo,[40,20,180,4000]))
print(previsao_knn(modelo,[40,20,180,5000]))
print(previsao_knn(modelo,[30,17,170,3300]))
print(previsao_knn(modelo,[47.2,18.2,190,3500]))

Adelie
Gentoo
Adelie
Chinstrap

### Referências:

[1] JOSEDAVID23038. Aprendizado-de-M-quina/Tarefas/Dados 1 at main · joseDavid23038/Aprendizado-de-M-quina. Disponível em: <https://github.com/joseDavid23038/Aprendizado-de-M-quina/tree/main/Tarefas/Dados%201>. Acesso em: 4 set. 2023.

[2] JOSEDAVID23038. Aprendizado-de-M-quina/Tarefas/Dados 3 at main · joseDavid23038/Aprendizado-de-M-quina. Disponível em: <https://github.com/joseDavid23038/Aprendizado-de-M-quina/tree/main/Tarefas/Dados%203>. Acesso em: 5 set. 2023.

‌[3] Daniel R. Cassar. 3.1- k vizinhos mais próximos. 

[4] JOSÉ, I. KNN (K-Nearest Neighbors) #1. Disponível em: <https://medium.com/brasil-ai/knn-k-nearest-neighbors-1-e140c82e9c4e>. Acesso em: 4 set. 2023.

‌[5] KNN without scikit learn. Disponível em: <https://www.kaggle.com/code/lohitha17/knn-without-scikit-learn>. Acesso em: 4 set. 2023.

‌[6] JOSEDAVID23038. Aprendizado-de-M-quina/Tarefas/Modelos 1/Testes executados com stmodes.ipynb at main · joseDavid23038/Aprendizado-de-M-quina. Disponível em: <https://github.com/joseDavid23038/Aprendizado-de-M-quina/blob/main/Tarefas/Modelos%201/Testes%20executados%20com%20stmodes.ipynb>. Acesso em: 5 set. 2023.

‌